

.drop-file-input {
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px dashed #801818;
    
    border-radius: 5px;
    margin-top: -55px;
    margin-left:800px;
    

    background-color:green;
}
h4{
    color:whitesmoke;
    text-align: center;
    justify-content:center;
    align-items:center;
    margin-top: 12px;
}
.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    background-color:#088;
    cursor: pointer;
    padding-top: 0px;
    padding-left:100px;
    
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    margin-top: 25px;
    margin-left:-890px;
    color: green;
    font-weight: 50;
    padding: 10px;
}

.drop-file-input__label img {
    width: 50px;
}

.drop-file-preview {
    margin-top: 30px;
    display:flex;
}

.drop-file-preview p {
    font-weight: 500;
}

.drop-file-preview__title {
    margin-bottom: 20px;
}
.trendingTracks__title {
    font-size: 24px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.sc-font-light {
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
.drop-file-preview__item {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    
    background-color: black;
    color:white;
    padding: 15px;
    border-radius: 5px;
    margin-left:10px;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop-file-preview__item__del {
    background-color: rgb(95, 89, 89);
    color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}
img{
    margin-top: -125px;
    margin-left:950px;
}
.fav
{
    background-color: transparent;
    border:none;
    cursor:pointer;
    margin-top:100px;
}