body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
 
}
:root{
  --primary-color:#f0f0f0;
  --secondary-color:white;
}

.theme-light {
   --primary-color:#f0f0f0;
  --secondary-color:white;
}

/* --light-text is fine on on the first 3, --dark-text is fine on all of them, --dark-text and dark-background are fine as text on --accent */
.theme-dark {
  --primary-color:#212120;
  --secondary-color:#323438;
}